In [1]:
from __future__ import division, absolute_import
%load_ext autoreload
%autoreload 2
import os
os.chdir(r"D:\data\ortoCC\design-with-alignments\4heptade-7")
print(os.getcwd())
import hepran
from hepran.bzipscore import *
import hepran.utils as u
import hepran.registers as r
import numpy as np
CCO = os.environ.get("CCO",r"C:\Projekti_KI\ortoCC\CoiledCoilOrtho")
from glob import glob
import pandas as pd
from StringIO import StringIO

D:\data\ortoCC\design-with-alignments\4heptade-7

In [2]:

def open_excel(df_row):
    name = full_name_from_str_or_df(df_row)
    name = u.replace_extension(name, '.xlsx')
    print(name)
    !open $name
    
def final_name(df_row):
    name = full_name_from_str_or_df(df_row)
    name = os.path.normpath(name)
    p = name.split(os.sep)
    fname = p[-2]+"-"+p[-1]
    return fname
    
#final_name(sdf.iloc[0])    


def copy_to_out(df_row, dirname="!OUT", exts=[".set", ".xlsx", ".fasta", ".bin", ".png"], open_in_excel=False):
    from shutil import copyfile
    name = full_name_from_str_or_df(df_row)
    fname = final_name(df_row)
    fname = os.path.join(dirname, fname)
    u.ensure_dir(dirname)
    
    print(name +"->\n"+ fname+"\n")           
    for ext in exts:
        source_fname = u.replace_extension(name, ext)
        target_fname = u.replace_extension(fname,ext)
        if os.path.exists(source_fname):
            copyfile(source_fname, target_fname)  
        else:
            print("Warning: file does not exists: "+source_fname)
    
    if open_in_excel:
        open_excel(df_row)

def filter_df(peptides_type, set_type, binding_cutoff):
    """Return dataset filtered acording to above criteria"""
    
    sdf=df[(df.peptides_type==peptides_type) & 
       (df.type==set_type) &
       (df.binding_cutoff==binding_cutoff)]
    sdf[sdf.N_pairs==sdf.N_pairs.max()]
    sdf = sdf.sort_values(by="total_IN_mismatches total_electrostatic_mismatches orthogonality_average".split())
    return sdf
    
display_cols = "basename N_pairs N_heterodimers N_homodimers orthogonality_average total_IN_mismatches total_electrostatic_mismatches".split()

In [3]:
set_infos = glob("4h*/*/*.set_info")
df = load_set_infos_to_dataframe(set_infos)
df['peptides_type']=df['!full_name'].apply(lambda x: os.path.dirname(os.path.dirname(x)))
df['basename']=df['!full_name'].apply(lambda x: os.path.basename(x))
df.to_excel('sets.xlsx')

In [103]:
sdf = filter_df("4h-1or2N-not_first_only-DEL1.00", "all", -8.6)
sdf[display_cols]

,basename,N_pairs,N_heterodimers,N_homodimers,orthogonality_average,total_IN_mismatches,total_electrostatic_mismatches
1158,all.00.set,21,10.0,11.0,-1.885931,0.0,4.0

In [107]:
copy_to_out(sdf.iloc[0], open_in_excel=1)

('4h-1or2N-not_first_only-DEL1.00/4h-1or2N-not_first_only_B07_bc-8.60_nc-7.60/all.00.set', '!OUT\\4h-1or2N-not_first_only_B07_bc-8.60_nc-7.60-all.00.set')
4h-1or2N-not_first_only-DEL1.00/4h-1or2N-not_first_only_B07_bc-8.60_nc-7.60/all.00.xlsx

In [97]:
sdf = filter_df("4h-1or2N-not_first_only-DEL1.00", "hetero", -8.6)
sdf[display_cols]

,basename,N_pairs,N_heterodimers,N_homodimers,orthogonality_average,total_IN_mismatches,total_electrostatic_mismatches
1168,hetero.04.set,11,11.0,0.0,-1.905839,0.0,0.0
1164,hetero.00.set,11,11.0,0.0,-1.915655,0.0,1.0
1169,hetero.05.set,11,11.0,0.0,-1.890803,0.0,1.0
1167,hetero.03.set,11,11.0,0.0,-1.889120,0.0,1.0
1166,hetero.02.set,11,11.0,0.0,-1.872692,0.0,1.0
1170,hetero.06.set,11,11.0,0.0,-1.940744,0.0,2.0
1165,hetero.01.set,11,11.0,0.0,-1.937973,0.0,2.0

In [108]:
copy_to_out(sdf.iloc[0], open_in_excel=1)   
copy_to_out(sdf.iloc[-1], open_in_excel=1)

('4h-1or2N-not_first_only-DEL1.00/4h-1or2N-not_first_only_B07_bc-8.60_nc-7.60/all.00.set', '!OUT\\4h-1or2N-not_first_only_B07_bc-8.60_nc-7.60-all.00.set')
4h-1or2N-not_first_only-DEL1.00/4h-1or2N-not_first_only_B07_bc-8.60_nc-7.60/all.00.xlsx
('4h-1or2N-not_first_only-DEL1.00/4h-1or2N-not_first_only_B07_bc-8.60_nc-7.60/all.00.set', '!OUT\\4h-1or2N-not_first_only_B07_bc-8.60_nc-7.60-all.00.set')
4h-1or2N-not_first_only-DEL1.00/4h-1or2N-not_first_only_B07_bc-8.60_nc-7.60/all.00.xlsx

In [115]:
sdf = filter_df("4h-1or2N-not_first_only-DEL1.00", "hetero-ex", -8.6)
sdf[display_cols]

,basename,N_pairs,N_heterodimers,N_homodimers,orthogonality_average,total_IN_mismatches,total_electrostatic_mismatches
1162,hetero-ex.04.00.set,15,11.0,4.0,-1.899556,0.0,0.0
1161,hetero-ex.03.00.set,15,11.0,4.0,-1.885344,0.0,1.0
1163,hetero-ex.05.00.set,15,11.0,4.0,-1.885305,0.0,1.0
1160,hetero-ex.02.00.set,15,11.0,4.0,-1.868238,0.0,1.0
1159,hetero-ex.01.00.set,15,11.0,4.0,-1.922225,0.0,2.0

In [114]:
copy_to_out(sdf.iloc[0], open_in_excel=0)   
copy_to_out(sdf.iloc[-1], open_in_excel=0)

4h-1or2N-not_first_only-DEL1.00/4h-1or2N-not_first_only_B07_bc-8.60_nc-7.60/hetero-ex.04.00.set->
!OUT\4h-1or2N-not_first_only_B07_bc-8.60_nc-7.60-hetero-ex.04.00.set

4h-1or2N-not_first_only-DEL1.00/4h-1or2N-not_first_only_B07_bc-8.60_nc-7.60/hetero-ex.01.00.set->
!OUT\4h-1or2N-not_first_only_B07_bc-8.60_nc-7.60-hetero-ex.01.00.set

In [116]:
sdf = filter_df("4h-1or2N-not_first_only-DEL1.00", "hetero", -9)
sdf[display_cols]

,basename,N_pairs,N_heterodimers,N_homodimers,orthogonality_average,total_IN_mismatches,total_electrostatic_mismatches
1329,hetero.01.set,8,8.0,0.0,-1.814051,0.0,0.0
1332,hetero.04.set,8,8.0,0.0,-1.908027,0.0,1.0
1333,hetero.05.set,8,8.0,0.0,-1.899090,0.0,1.0
1328,hetero.00.set,8,8.0,0.0,-1.886199,0.0,1.0
1334,hetero.06.set,8,8.0,0.0,-1.869945,0.0,1.0
1330,hetero.02.set,8,8.0,0.0,-1.861142,0.0,1.0
1331,hetero.03.set,8,8.0,0.0,-1.881756,0.0,2.0
1335,hetero.07.set,8,8.0,0.0,-1.861361,0.0,2.0

In [119]:
#open_excel(sdf.iloc[0])
copy_to_out(sdf.iloc[0], open_in_excel=0)

4h-1or2N-not_first_only-DEL1.00/4h-1or2N-not_first_only_B07_bc-9.00_nc-8.00/hetero.01.set->
!OUT\4h-1or2N-not_first_only_B07_bc-9.00_nc-8.00-hetero.01.set

In [120]:
sdf = filter_df("4h-1or2N-not_first_only-DEL1.00", "hetero-ex", -9)
sdf[display_cols]

,basename,N_pairs,N_heterodimers,N_homodimers,orthogonality_average,total_IN_mismatches,total_electrostatic_mismatches
1327,hetero-ex.04.00.set,12,8.0,4.0,-1.902092,0.0,1.0

In [121]:
copy_to_out(sdf.iloc[0], open_in_excel=0)

4h-1or2N-not_first_only-DEL1.00/4h-1or2N-not_first_only_B07_bc-9.00_nc-8.00/hetero-ex.04.00.set->
!OUT\4h-1or2N-not_first_only_B07_bc-9.00_nc-8.00-hetero-ex.04.00.set

In [123]:
sdf = filter_df("4h-1or2N-not_first_only-DEL1.00", "all", -9)
sdf[display_cols]

,basename,N_pairs,N_heterodimers,N_homodimers,orthogonality_average,total_IN_mismatches,total_electrostatic_mismatches
1326,all.00.set,13,6.0,7.0,-1.867057,0.0,0.0

In [124]:
copy_to_out(sdf.iloc[0], open_in_excel=0)

4h-1or2N-not_first_only-DEL1.00/4h-1or2N-not_first_only_B07_bc-9.00_nc-8.00/all.00.set->
!OUT\4h-1or2N-not_first_only_B07_bc-9.00_nc-8.00-all.00.set

4h-1or2N-not_first_only-DEL1.00/4h-1or2N-not_first_only_B07_bc-9.00_nc-8.00/all.00.xlsx

In [145]:
sdf = filter_df("4h-1or2N-not_first_only-DEL1.00", "all", -8.05)
sdf[display_cols]

,basename,N_pairs,N_heterodimers,N_homodimers,orthogonality_average,total_IN_mismatches,total_electrostatic_mismatches
1006,all.00.set,17,6.0,11.0,-1.71755,0.0,3.0

In [146]:
copy_to_out(sdf.iloc[0], open_in_excel=0)

4h-1or2N-not_first_only-DEL1.00/4h-1or2N-not_first_only_B07_bc-8.05_nc-7.05/all.00.set->
!OUT\4h-1or2N-not_first_only_B07_bc-8.05_nc-7.05-all.00.set

In [147]:
sdf = filter_df("4h-1or2N-not_first_only-DEL1.00", "hetero", -8.05)
sdf[display_cols]

,basename,N_pairs,N_heterodimers,N_homodimers,orthogonality_average,total_IN_mismatches,total_electrostatic_mismatches
1011,hetero.01.set,9,9.0,0.0,-1.710787,0.0,1.0
1010,hetero.00.set,9,9.0,0.0,-1.693302,0.0,2.0
1012,hetero.02.set,9,9.0,0.0,-1.667620,0.0,2.0
1013,hetero.03.set,9,9.0,0.0,-1.640848,0.0,2.0

In [148]:
copy_to_out(sdf.iloc[0], open_in_excel=0)

4h-1or2N-not_first_only-DEL1.00/4h-1or2N-not_first_only_B07_bc-8.05_nc-7.05/hetero.01.set->
!OUT\4h-1or2N-not_first_only_B07_bc-8.05_nc-7.05-hetero.01.set

4h-1or2N-not_first_only-DEL1.00/4h-1or2N-not_first_only_B07_bc-8.05_nc-7.05/hetero.01.xlsx

In [149]:
sdf = filter_df("4h-1or2N-not_first_only-DEL1.00", "hetero-ex", -8.05)
sdf[display_cols]

,basename,N_pairs,N_heterodimers,N_homodimers,orthogonality_average,total_IN_mismatches,total_electrostatic_mismatches
1008,hetero-ex.01.00.set,12,9.0,3.0,-1.704634,0.0,1.0
1007,hetero-ex.00.00.set,12,9.0,3.0,-1.690538,0.0,2.0
1009,hetero-ex.03.00.set,12,9.0,3.0,-1.654101,0.0,2.0

In [150]:
copy_to_out(sdf.iloc[0], open_in_excel=1)

4h-1or2N-not_first_only-DEL1.00/4h-1or2N-not_first_only_B07_bc-8.05_nc-7.05/hetero-ex.01.00.set->
!OUT\4h-1or2N-not_first_only_B07_bc-8.05_nc-7.05-hetero-ex.01.00.set

4h-1or2N-not_first_only-DEL1.00/4h-1or2N-not_first_only_B07_bc-8.05_nc-7.05/hetero-ex.01.00.xlsx

In [157]:
sdf = filter_df("4h-1or2N-not_first_only-same_GE-DEL1.00", "hetero", -8.40)
sdf[display_cols]

,basename,N_pairs,N_heterodimers,N_homodimers,orthogonality_average,total_IN_mismatches,total_electrostatic_mismatches
1587,hetero.01.set,5,5.0,0.0,-1.964534,0.0,0.0
1586,hetero.00.set,5,5.0,0.0,-1.902007,0.0,2.0

In [158]:
copy_to_out(sdf.iloc[0], open_in_excel=1)

4h-1or2N-not_first_only-same_GE-DEL1.00/4h-1or2N-not_first_only-same_GE_B07_bc-8.40_nc-7.40/hetero.01.set->
!OUT\4h-1or2N-not_first_only-same_GE_B07_bc-8.40_nc-7.40-hetero.01.set

4h-1or2N-not_first_only-same_GE-DEL1.00/4h-1or2N-not_first_only-same_GE_B07_bc-8.40_nc-7.40/hetero.01.xlsx

In [159]:
sdf = filter_df("4h-1or2N-not_first_only-same_GE-DEL1.00", "hetero", -8.95)
sdf[display_cols]

,basename,N_pairs,N_heterodimers,N_homodimers,orthogonality_average,total_IN_mismatches,total_electrostatic_mismatches
1770,hetero.00.set,4,4.0,0.0,-1.923706,0.0,0.0
1771,hetero.01.set,4,4.0,0.0,-1.876373,0.0,0.0

In [160]:
copy_to_out(sdf.iloc[0], open_in_excel=1)

4h-1or2N-not_first_only-same_GE-DEL1.00/4h-1or2N-not_first_only-same_GE_B07_bc-8.95_nc-7.95/hetero.00.set->
!OUT\4h-1or2N-not_first_only-same_GE_B07_bc-8.95_nc-7.95-hetero.00.set

4h-1or2N-not_first_only-same_GE-DEL1.00/4h-1or2N-not_first_only-same_GE_B07_bc-8.95_nc-7.95/hetero.00.xlsx

In [163]:
sdf = filter_df("4h-1or2N-not_first_only-same_GE-DEL1.00", "hetero", -7.95)
sdf[display_cols]

,basename,N_pairs,N_heterodimers,N_homodimers,orthogonality_average,total_IN_mismatches,total_electrostatic_mismatches
1479,hetero.03.set,4,4.0,0.0,-1.609728,0.0,2.0
1476,hetero.00.set,4,4.0,0.0,-1.814064,1.0,0.0
1480,hetero.04.set,4,4.0,0.0,-1.683539,1.0,2.0
1478,hetero.02.set,4,4.0,0.0,-1.678135,1.0,2.0
1482,hetero.06.set,4,4.0,0.0,-1.775320,2.0,0.0
1483,hetero.07.set,4,4.0,0.0,-1.611688,3.0,4.0
1477,hetero.01.set,4,4.0,0.0,-1.639939,3.0,8.0
1481,hetero.05.set,4,4.0,0.0,-1.529135,5.0,8.0

In [167]:
copy_to_out(sdf.iloc[0], open_in_excel=1) 
copy_to_out(sdf.iloc[1], open_in_excel=1)

4h-1or2N-not_first_only-same_GE-DEL1.00/4h-1or2N-not_first_only-same_GE_B07_bc-7.95_nc-6.95/hetero.03.set->
!OUT\4h-1or2N-not_first_only-same_GE_B07_bc-7.95_nc-6.95-hetero.03.set

Warning: file does not exists: 4h-1or2N-not_first_only-same_GE-DEL1.00/4h-1or2N-not_first_only-same_GE_B07_bc-7.95_nc-6.95/hetero.03.xlsx
4h-1or2N-not_first_only-same_GE-DEL1.00/4h-1or2N-not_first_only-same_GE_B07_bc-7.95_nc-6.95/hetero.03.xlsx
4h-1or2N-not_first_only-same_GE-DEL1.00/4h-1or2N-not_first_only-same_GE_B07_bc-7.95_nc-6.95/hetero.00.set->
!OUT\4h-1or2N-not_first_only-same_GE_B07_bc-7.95_nc-6.95-hetero.00.set

Warning: file does not exists: 4h-1or2N-not_first_only-same_GE-DEL1.00/4h-1or2N-not_first_only-same_GE_B07_bc-7.95_nc-6.95/hetero.00.xlsx
4h-1or2N-not_first_only-same_GE-DEL1.00/4h-1or2N-not_first_only-same_GE_B07_bc-7.95_nc-6.95/hetero.00.xlsx

'4h-1or2N-not_first_only-same_GE-DEL1.00/4h-1or2N-not_first_only-same_GE_B07_bc-7.95_nc-6.95/hetero.03.xlsx' not found
'4h-1or2N-not_first_only-same_GE-DEL1.00/4h-1or2N-not_first_only-same_GE_B07_bc-7.95_nc-6.95/hetero.00.xlsx' not found